body {
  background-color: black;
  color: white;
  letter-spacing: 0.1em;
}

.conteiner {
  width: 80%;
  margin: 0 auto;
}

.header_logo {
  margin: 0 auto;
  width: 50%;
  position: relative;
}

.section_1 {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 50px 0px;
  font-family: "Cardo", serif;
  /*font-family: "League Gothic", sans-serif;*/
  text-align: center;
}

.text_description {
  margin: 20px 0px;
  font-size: 20px;
  font-family: "Cardo", serif;
  text-align: center;
}

.text_atention {
  color: #d2ac67;
  border-bottom: solid 1px #d2ac67;
}

img {
  width: 100%;
  border-radius: 30px;
}

.header_form {
  border-radius: 10px;
  background-color: #d2ac67;
  text-align: center;
  width: 63%;
  margin: 25px auto;
  padding: 7px;
  background: radial-gradient(circle, rgba(175, 175, 175, 1) 0%, #d2ac67) 50%;
}

i {
  margin-left: 10px;
  margin-right: 10px;
}

form {
  width: 90%;
  margin: 0 auto;
}
.form-control {
  margin: 10px auto;
  width: 70%;
  border: solid 2px #d2ac67;
}

.btn {
  display: block;
  margin: 0 auto;
  width: 70%;
  color: white;
  background: radial-gradient(circle, rgba(175, 175, 175, 1) 0%, #d2ac67) 50%;
}

.section_2 img {
  width: 50%;
}
.images_list {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.slide_conteiner {
  width: 90%;
}

.form_section {
  margin: 0 auto;
  margin-bottom: 100px;
}

.section_3 {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.text_description_section_3 {
  font-family: "Cardo", serif;
  font-size: 20px;
  text-align: justify;
}

.iframe-container {
  display: flex;
  justify-content: space-between;
}

.embed-responsive .embed-responsive-item {
  border-radius: 10px;
  width: 90%;
  height: 90%;
}

.footer_logo {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.footer_logo img {
  width: 30%;
}
