body {
  background-color: black;
  color: white;
  letter-spacing: 0.1em;
}

.conteiner {
  width: 80%;
  margin: 0 auto;
}

.my_custom_nav_bar {
  margin-top: 50px;
  background-color: rgb(0, 0, 0);
}

.my_custom_nav_bar img {
  width: 75px;
  border-radius: 50%;
}

.my_custom_nav_bar ul {
  margin: auto;
}

.togle_button {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 24px;
}
ul li a {
  color: white;
}

ul li a:hover {
  color: #d2ac67;
}

.header_logo {
  margin: 0 auto;
  width: 50%;
  position: relative;
}

.section_1 {
  width:80%;
  margin-left: 10%;
  /*margin: 0 auto;*/
  display: flex;
  justify-content: space-around;;
}

h1 {
  margin: 50px 0px;
  font-family: "Cardo", serif;
  /*font-family: "League Gothic", sans-serif;*/
  text-align: center;
}

.text_description {
  margin: 20px 0px;
  font-size: 20px;
  font-family: "Cardo", serif;
  text-align: center;
}

.text_atention {
  color: #d2ac67;
  border-bottom: solid 1px #d2ac67;

  background: linear-gradient(
    to right,
    #d2ac67 20%,
    #cf9e43 30%,
    #ce8705 70%,
    #e0c083 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /*text-fill-color: transparent;*/
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.main_img {
  margin-top:120px;
  display: block;
  height:70%;
  width:100%;
/*  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
*/}

.secoundary_img {
  display: none;
}

img {
  width: 100%;
  border-radius: 30px;
}

.header_form {
  border-radius: 10px;
  text-align: center;
  width: 63%;
  margin: 25px auto;
  padding: 7px;
  background: #d2ac67;
  font-family: "Cardo", serif;
}

i {
  margin-left: 10px;
  margin-right: 10px;
}

form {
  width: 90%;
  margin: 0 auto;
  margin-top: 10%;
}
.form-control {
  margin: 10px auto;
  width: 70%;
  border: solid 2px #d2ac67;
}

.btn-success {
  display: block;
  margin: 50px auto;
  width: 70%;
  padding: 15px 0;
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  outline: 10px solid #d2ac67(214, 5, 5, 0.1);
  box-shadow: 0px 0px 40px #0af129;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.btn-success:hover {
  box-shadow: 0px 0px 40px yellowgreen;
  transform: scale(1.1) translateY(-0px);
  color: #0af129;

}
.btn_firs_form {
  margin-bottom: 0px;
}

.section_2 img {
  width: 50%;
}

.images_list {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.slide_conteiner {
  width: 90%;
}
.form_section {
  margin: 0 auto;
  margin-bottom: 100px;
}

.section_3 {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.text_description_section_3 {
  font-family: "Cardo", serif;
  font-size: 20px;
  text-align: justify;
}

.my_custom_video {
    width: 100%;
    height: 300px;
}
.video_space{
    width:98%;
    margin:0 auto;
}

.embed-responsive .embed-responsive-item {
  border-radius: 10px;
  width: 90%;
  height: 90%;
}
iframe{
    display: block;
    position: absolute;
}

.more_info_gold_print {
  border-radius: 50px;
  padding: 30px;
  background: radial-gradient(#fffba4, #d6b65f);
  color: black;
  cursor: pointer;
  margin: -5px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 0 0 5px #d2ac67;
}

  .button_gold_print_redirect a{
    font-weight: 700;
  }

.more_info_gold_print:hover{
  color: #000000;
  box-shadow: 0px 0px 40px #d2ac67;
  transform: scale(1.1) translateY(-0px);

}

.footer_logo {
  width: 100%;
}

.footer_logo img {
  width: 100%;
  border-radius: 50%;
}

footer {
  text-align: center;
  padding-top: 100px;
}

.rights_text p {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_social_media {
  display: block;
}
.right_column a {
  text-decoration: none;
  color: white;
  font-family: "Cardo", serif;
}

.right_column a:hover {
  color: #d2ac67;
}
