/* 900 */
@media (max-width: 900px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .row {
    display: inline-table;
  }
  .col-7 {
    max-width: 100%;
  }
  .col-5 {
    max-width: 100%;
  }
  .iframe-container {
    display: block;
    align-items: center;
    width: 90%;
    margin-left: 10%;
  }

  iframe {
    width: 80%;
    max-width: 800px;
    height: 450px;
    border: none;
    margin: auto;
  }
  .slide_conteiner {
    width: 90%;
    margin: 0 auto;
  }
}
/*980*/

@media (max-width: 980px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .header_form {
    width: 100%;
  }

  .form-control {
    width: 100%;
  }
}
