/* 900 */
@media (max-width: 900px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .footer_logo {
    display: none;
  }

  .col {
    margin-top: 25px;
  }

  .row {
    display: inline-table;
  }
  .col-7 {
    max-width: 100%;
  }
  .col-5 {
    max-width: 100%;
  }
  .iframe-container {
    display: block;
    align-items: center;
    width: 90%;
    margin-left: 10%;
  }

  iframe {
    width: 80%;
    max-width: 800px;
    height: 450px;
    border: none;
    margin: auto;
  }
  .slide_conteiner {
    width: 90%;
    margin: 0 auto;
  }
  .main_img {
    display: none;
  }

  .secoundary_img {
    display: block;
  }
}
/*980*/

@media (max-width: 980px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .header_form {
    width: 100%;
  }

  .form-control {
    width: 100%;
  }
  .conteiner_msg {
    width: 95%;
  }
  .more_top_espace_form {
    margin-top: 75px;
  }
}
