body {
  background: #000000;
  color: white;
  text-align: center;
}

.the_gold_print_section_1 {
  margin-top: 50px;
}

.the_gold_print_section_2 {
  margin-top: 50px;
}

.the_gold_print_section_2 .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.the_gold_print_section_2 li {
  font-size: large;
  margin-top: 25px;
}

.more_info_gold_print {
  border-radius: 50px;
  padding: 30px;
  background: radial-gradient(#fffba4, #d6b65f);
  color: black;
  cursor: pointer;
  margin: -5px;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 0 0 5px #d2ac67;
}

.more_info_gold_print:hover {
  color: rgb(78, 224, 10);
}

.the_gold_print_section_3 {
  margin-top: 50px;
}
.button_gold_print_redirect {
  margin-top: 50px;
}

.cart_row {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.custom_cart {
  color: #000000;
  border-radius: 30px;
  border: #000000 solid 1px;
  background: radial-gradient(#fffba4, #d6b65f);
  min-width: 300px;
}

.oficina_list {
  margin-top: 10px; /* Adjust the value as needed */
}

.the_gold_print_section_4 {
  margin-top: 100px;
}

.the_gold_print_section_4 .col-7 {
  display: grid;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  border-radius: 30px;
}
