<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style/accept.css') }}"
    />
    <title>Accept appointment</title>
  </head>
  <body>
    <div class="container">
      <div class="accept_apointment_template">
        <div class="conteiner_msg">
          <div class="logo">
            <img src="/static/img/logos2.png" alt="LOGO" />
          </div>
          <h1>Parabéns, a sua inscrição está quase concluída!</h1>
          <p>Your submition has been receved</p>
          <p>We will contact you as soon as it is possible</p>
          <a class="btn btn-success" href="{{url_for('index')}}">Back Home</a>
          <h1>Follow us</h1>
          <div class="media_icons">
            <a
              href="https://www.instagram.com/academiasaudedesucesso?igsh=Z3M5aHlwamY2dzR2"
              class="btn btn-dark"
              ><i class="bi bi-instagram"></i
            ></a>
            <a
              href="https://www.facebook.com/profile.php?id=61557079424317"
              class="btn btn-dark"
              ><i class="bi bi-facebook"></i
            ></a>
            <a
              href="https://www.youtube.com/@academiasaudedesucesso"
              class="btn btn-dark"
              ><i class="bi bi-youtube"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
