<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
    <title>Сlinica de medicina estética</title>
</head>
<body>
    <div class="conteiner">
        <div class="header_logo">
            <img src="static/img/logos1.png" alt="logo">
        </div>
        <div class="section_1">
            <div class="text_section">
                <h1 class="text_title">Médico, conquiste o sucesso com a
                    tua clinica de medicina estética!
                </h1>
                <p class="text_description">
                    Aprenda a como explodir a sua clinica de
                    medicina estética com os clientes certos!
                    Combinando o melhor dos dois mundos:</br>
                    a prática cínica e o poder do Instagram!
                </p>
                <h1 class="text_atention">
                    100% GRATUITO E ONLINE!
                </h1>
                <div class="form_section">
                    <div class="header_form">
                        <h3><i class="bi bi-camera-video-fill">Ao vivo pelo Zoom|</i><i class="bi bi-calendar-week-fill">Segunfa-feira 17/06|</i><br><i class="bi bi-calendar-week-fill">Das 20h as 22h (Lisboa)</i></h3>
                    </div>
                    <form action="#">
                        <fieldset>
                            <div>
                                <input type="text" class="form-control" id="id_name" aria-describedby="Nome completo" placeholder="Nome completo">
                            </div>
                            <div>
                                <select class="form-control" id="exampleSelect1">
                                    <option>Selecione o pais</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            <div>
                                <input type="text" class="form-control" id="id_whatsupp" aria-describedby="emailHelp" placeholder="WhatsApp">
                             </div>
                          
                            <button type="submit" class="btn btn-primary">Fazer inscriçao gratuitamnete</button>
                        </fieldset>
                      </form>
                </div>
                <div class="header_logo">
                    <img src="static/img/logos1.png" alt="logo">
                </div>
            </div>        
            <div class="img_section">
                <img alt="Dr. Wilsa" src="static/img/_DSC9067.jpg">    
            </div>        
        </div>
        <div class="section_2">
            <div class="images_list">
                <img alt="Dr. Wilsa" src="static/img/_DSC9097 (1).jpg"> 
                <img alt="Dr. Wilsa" src="static/img/_DSC9098.jpg"> 
            </div>
            <div class="text_section">
                <p class="text_description">
                    És médico e queres abrir a tua própria clínica de medicina estética?
                    A Dr. Wilsa dá formação a médicos, como tu, para que consigam se
                    dedicar à prática, ter mais tempo livre, receber o reconhecimento e a
                    remuneração que merecem.<br>
                    Queres realizar os teu sonhos?
                </p>
                <h1 class="text_title">Masterclass: Tema</h1>
                <div class="form_section">
                    <div class="header_form">
                        <h3><i class="bi bi-camera-video-fill">Ao vivo pelo Zoom|</i><i class="bi bi-calendar-week-fill">Segunfa-feira 17/06|</i><br><i class="bi bi-calendar-week-fill">Das 20h as 22h (Lisboa)</i></h3>
                    </div>
                    <form action="#">
                        <fieldset>
                            <div>
                                <input type="text" class="form-control" id="id_name" aria-describedby="Nome completo" placeholder="Nome completo">
                            </div>
                            <div>
                                <select class="form-control" id="exampleSelect1">
                                    <option>Selecione o pais</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            <div>
                                <input type="text" class="form-control" id="id_whatsupp" aria-describedby="emailHelp" placeholder="WhatsApp">
                             </div>
                          
                            <button type="submit" class="btn btn-primary">Fazer inscriçao gratuitamnete</button>
                        </fieldset>
                      </form>
                </div>
            </div>
        </div>
        <div class="section_3">
            <div class="text_section">
                <p class="text_description_section_3">
                    A Dra. Wilsa, médica especialista em anti-
                    aging iniciou sua jornada há 5 anos, quando
                    abriu sua clínica de medicina estética e lançou
                    seu negócio. Desde então, expandiu suas
                    atividades para mais três empresas na área da
                    medicina estética.</p>
                <p class="text_description_section_3">
                    Hoje, ela está empenhada em compartilhar esse
                    conhecimento com médicos que querem
                    empreender na medicina estética. Foi pensando
                    nisso que desenvolveu formações online e
                    gratuita, destinada a ajudar médicos como você
                    a alcançarem seus objetivos e prosperarem
                    nesse campo.</p>
                <div class="header_logo">
                    <img src="static/img/logos1.png" alt="logo">
                </div>
            </div>        
            <div class="img_section">
                <img alt="Dr. Wilsa" src="static/img/_DSC9067.jpg">    
            </div>     
        </div>
        <div class="section_2">
            <div class="text_section">
                <h1 class="text_title">Queres empreender na medicina estética e não sabe como?</h1>
                <p class="text_description">
                    Inscreve-te para as nossas masterclass online e gratuitas e entre para o nosso
                    grupo exclusivo da Academia Saúde de Sucesso, no whatsapp, onde criarás
                    uma rede de contacto com outros médicos e terás acesso a conteúdos
                    incríveis todos os dias.
                </p>
                
                <div class="form_section">
                    <div class="header_form">
                        <h3><i class="bi bi-camera-video-fill">Ao vivo pelo Zoom|</i><i class="bi bi-calendar-week-fill">Segunfa-feira 17/06|</i><br><i class="bi bi-calendar-week-fill">Das 20h as 22h (Lisboa)</i></h3>
                    </div>
                    <form action="#">
                        <fieldset>
                            <div>
                                <input type="text" class="form-control" id="id_name" aria-describedby="Nome completo" placeholder="Nome completo">
                            </div>
                            <div>
                                <select class="form-control" id="exampleSelect1">
                                    <option>Selecione o pais</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            <div>
                                <input type="text" class="form-control" id="id_whatsupp" aria-describedby="emailHelp" placeholder="WhatsApp">
                             </div>
                          
                            <button type="submit" class="btn btn-primary">Fazer inscriçao gratuitamnete</button>
                        </fieldset>
                      </form>
                </div>
            </div>
        </div>
        <div class="section_2">
            <div class="text_section">
                <h1 class="text_title">Com a formação da academia saúde de sucesso vais ganhar conhecimentos
                    que vão transformar o teu sucesso profissional.
                </h1>
                <div class="videos_list">
                    <iframe src="https://www.youtube.com/embed/JWETm0TgcQg">
                    </iframe>
                    <iframe src="https://www.youtube.com/embed/TjPFZaMe2yw">
                    </iframe>
                    <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
                </div>
                
                <div class="form_section">
                    <div class="header_form">
                        <h3><i class="bi bi-camera-video-fill">Ao vivo pelo Zoom|</i><i class="bi bi-calendar-week-fill">Segunfa-feira 17/06|</i><br><i class="bi bi-calendar-week-fill">Das 20h as 22h (Lisboa)</i></h3>
                    </div>
                    <form name="subscribe_form" action="cgi-bin/main.py" method="get">
                        
                            <div>
                                <input type="text" name="id_name" class="form-control" id="id_name" aria-describedby="Nome completo" placeholder="Nome completo">
                            </div>
                            <div>
                                <select class="form-control" name="id_country" id="id_country">
                                    <option>Selecione o pais</option>        
                                    <option value="AF">Afghanistan</option>
                                    <option value="AL">Albania</option>
                                    <option value="DZ">Algeria</option>
                                    <option value="AS">American Samoa</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AO">Angola</option>
                                    <option value="AI">Anguilla</option>
                                    <option value="AQ">Antarctica</option>
                                    <option value="AG">Antigua and Barbuda</option>
                                    <option value="AR">Argentina</option>
                                    <option value="AM">Armenia</option>
                                    <option value="AW">Aruba</option>
                                    <option value="AU">Australia</option>
                                    <option value="AT">Austria</option>
                                    <option value="AZ">Azerbaijan</option>
                                    <option value="BS">Bahamas</option>
                                    <option value="BH">Bahrain</option>
                                    <option value="BD">Bangladesh</option>
                                    <option value="BB">Barbados</option>
                                    <option value="BY">Belarus</option>
                                    <option value="BE">Belgium</option>
                                    <option value="BZ">Belize</option>
                                    <option value="BJ">Benin</option>
                                    <option value="BM">Bermuda</option>
                                    <option value="BT">Bhutan</option>
                                    <option value="BO">Bolivia</option>
                                    <option value="BA">Bosnia and Herzegovina</option>
                                    <option value="BW">Botswana</option>
                                    <option value="BR">Brazil</option>
                                    <option value="BN">Brunei Darussalam</option>
                                    <option value="BG">Bulgaria</option>
                                    <option value="BF">Burkina Faso</option>
                                    <option value="BI">Burundi</option>
                                    <option value="CV">Cabo Verde</option>
                                    <option value="KH">Cambodia</option>
                                    <option value="CM">Cameroon</option>
                                    <option value="CA">Canada</option>
                                    <option value="KY">Cayman Islands</option>
                                    <option value="CF">Central African Republic</option>
                                    <option value="TD">Chad</option>
                                    <option value="CL">Chile</option>
                                    <option value="CN">China</option>
                                    <option value="CO">Colombia</option>
                                    <option value="KM">Comoros</option>
                                    <option value="CG">Congo</option>
                                    <option value="CD">Congo, Democratic Republic of the</option>
                                    <option value="CR">Costa Rica</option>
                                    <option value="CI">Côte d'Ivoire</option>
                                    <option value="HR">Croatia</option>
                                    <option value="CU">Cuba</option>
                                    <option value="CY">Cyprus</option>
                                    <option value="CZ">Czechia</option>
                                    <option value="DK">Denmark</option>
                                    <option value="DJ">Djibouti</option>
                                    <option value="DM">Dominica</option>
                                    <option value="DO">Dominican Republic</option>
                                    <option value="EC">Ecuador</option>
                                    <option value="EG">Egypt</option>
                                    <option value="SV">El Salvador</option>
                                    <option value="GQ">Equatorial Guinea</option>
                                    <option value="ER">Eritrea</option>
                                    <option value="EE">Estonia</option>
                                    <option value="SZ">Eswatini</option>
                                    <option value="ET">Ethiopia</option>
                                    <option value="FJ">Fiji</option>
                                    <option value="FI">Finland</option>
                                    <option value="FR">France</option>
                                    <option value="GA">Gabon</option>
                                    <option value="GM">Gambia</option>
                                    <option value="GE">Georgia</option>
                                    <option value="DE">Germany</option>
                                    <option value="GH">Ghana</option>
                                    <option value="GR">Greece</option>
                                    <option value="GD">Grenada</option>
                                    <option value="GU">Guam</option>
                                    <option value="GT">Guatemala</option>
                                    <option value="GN">Guinea</option>
                                    <option value="GW">Guinea-Bissau</option>
                                    <option value="GY">Guyana</option>
                                    <option value="HT">Haiti</option>
                                    <option value="HN">Honduras</option>
                                    <option value="HU">Hungary</option>
                                    <option value="IS">Iceland</option>
                                    <option value="IN">India</option>
                                    <option value="ID">Indonesia</option>
                                    <option value="IR">Iran</option>
                                    <option value="IQ">Iraq</option>
                                    <option value="IE">Ireland</option>
                                    <option value="IL">Israel</option>
                                    <option value="IT">Italy</option>
                                    <option value="JM">Jamaica</option>
                                    <option value="JP">Japan</option>
                                    <option value="JO">Jordan</option>
                                    <option value="KZ">Kazakhstan</option>
                                    <option value="KE">Kenya</option>
                                    <option value="KI">Kiribati</option>
                                    <option value="KP">Korea (North)</option>
                                    <option value="KR">Korea (South)</option>
                                    <option value="KW">Kuwait</option>
                                    <option value="KG">Kyrgyzstan</option>
                                    <option value="LA">Lao People's Democratic Republic</option>
                                    <option value="LV">Latvia</option>
                                    <option value="LB">Lebanon</option>
                                    <option value="LS">Lesotho</option>
                                    <option value="LR">Liberia</option>
                                    <option value="LY">Libya</option>
                                    <option value="LI">Liechtenstein</option>
                                    <option value="LT">Lithuania</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MG">Madagascar</option>
                                    <option value="MW">Malawi</option>
                                    <option value="MY">Malaysia</option>
                                    <option value="MV">Maldives</option>
                                    <option value="ML">Mali</option>
                                    <option value="MT">Malta</option>
                                    <option value="MH">Marshall Islands</option>
                                    <option value="MR">Mauritania</option>
                                    <option value="MU">Mauritius</option>
                                    <option value="MX">Mexico</option>
                                    <option value="FM">Micronesia (Federated States of)</option>
                                    <option value="MD">Moldova</option>
                                    <option value="MC">Monaco</option>
                                    <option value="MN">Mongolia</option>
                                    <option value="ME">Montenegro</option>
                                    <option value="MA">Morocco</option>
                                    <option value="MZ">Mozambique</option>
                                    <option value="MM">Myanmar</option>
                                    <option value="NA">Namibia</option>
                                    <option value="NR">Nauru</option>
                                    <option value="NP">Nepal</option>
                                    <option value="NL">Netherlands</option>
                                    <option value="NZ">New Zealand</option>
                                    <option value="NI">Nicaragua</option>
                                    <option value="NE">Niger</option>
                                    <option value="NG">Nigeria</option>
                                    <option value="MK">North Macedonia</option>
                                    <option value="NO">Norway</option>
                                    <option value="OM">Oman</option>
                                    <option value="PK">Pakistan</option>
                                    <option value="PW">Palau</option>
                                    <option value="PA">Panama</option>
                                    <option value="PG">Papua New Guinea</option>
                                    <option value="PY">Paraguay</option>
                                    <option value="PE">Peru</option>
                                    <option value="PH">Philippines</option>
                                    <option value="PL">Poland</option>
                                    <option value="PT">Portugal</option>
                                    <option value="QA">Qatar</option>
                                    <option value="RO">Romania</option>
                                    <option value="RU">Russia</option>
                                    <option value="RW">Rwanda</option>
                                    <option value="KN">Saint Kitts and Nevis</option>
                                    <option value="LC">Saint Lucia</option>
                                    <option value="VC">Saint Vincent and the Grenadines</option>
                                    <option value="WS">Samoa</option>
                                    <option value="SM">San Marino</option>
                                    <option value="ST">Sao Tome and Principe</option>
                                    <option value="SA">Saudi Arabia</option>
                                    <option value="SN">Senegal</option>
                                    <option value="RS">Serbia</option>
                                    <option value="SC">Seychelles</option>
                                    <option value="SL">Sierra Leone</option>
                                    <option value="SG">Singapore</option>
                                    <option value="SK">Slovakia</option>
                                    <option value="SI">Slovenia</option>
                                    <option value="SB">Solomon Islands</option>
                                    <option value="SO">Somalia</option>
                                    <option value="ZA">South Africa</option>
                                    <option value="SS">South Sudan</option>
                                    <option value="ES">Spain</option>
                                    <option value="LK">Sri Lanka</option>
                                    <option value="SD">Sudan</option>
                                    <option value="SR">Suriname</option>
                                    <option value="SE">Sweden</option>
                                    <option value="CH">Switzerland</option>
                                    <option value="SY">Syrian Arab Republic</option>
                                    <option value="TW">Taiwan</option>
                                    <option value="TJ">Tajikistan</option>
                                    <option value="TZ">Tanzania</option>
                                    <option value="TH">Thailand</option>
                                    <option value="TL">Timor-Leste</option>
                                    <option value="TG">Togo</option>
                                    <option value="TO">Tonga</option>
                                    <option value="TT">Trinidad and Tobago</option>
                                    <option value="TN">Tunisia</option>
                                    <option value="TR">Turkey</option>
                                    <option value="TM">Turkmenistan</option>
                                    <option value="TV">Tuvalu</option>
                                    <option value="UG">Uganda</option>
                                    <option value="UA">Ukraine</option>
                                    <option value="AE">United Arab Emirates</option>
                                    <option value="GB">United Kingdom</option>
                                    <option value="US">United States</option>
                                    <option value="UY">Uruguay</option>
                                    <option value="UZ">Uzbekistan</option>
                                    <option value="VU">Vanuatu</option>
                                    <option value="VE">Venezuela</option>
                                    <option value="VN">Viet Nam</option>
                                    <option value="YE">Yemen</option>
                                    <option value="ZM">Zambia</option>
                                    <option value="ZW">Zimbabwe</option>
                                </select>
                            <div>
                                <input type="text" name="id_whatsupp" class="form-control" id="id_whatsupp" aria-describedby="emailHelp" placeholder="WhatsApp">
                            </div>
                          
                            <button type="submit" class="btn btn-primary">Fazer inscriçao gratuitamnete</button>
                        
                      </form>
                </div>
            </div>
        </div>


    </div>
</body>
</html>